__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

workspace/*
!workspace/.gitkeep
output/*
!output/.gitkeep
logs/*
!logs/.gitkeep
settings/*
!settings/.gitkeep
third_party/*
!third_party/.gitkeep

.DS_Store
Thumbs.db
