audio-separator==0.18.0
beartype==0.18.5
contextlib2==21.6.0
lazy-loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
ml-collections==0.1.1
msgpack==1.1.1
numba==0.60.0
onnx==1.16.2
onnx2torch==1.5.15
pydub==0.25.1
resampy==0.4.3
rotary-embedding-torch==0.6.5
samplerate==0.1.0
scipy==1.13.1
soundfile==0.12.1
soxr==0.3.7
